@inject PresentationService.API2.PresentationService.PresentationServiceClient PresentationService;
@inject IMessageService MessageService;
@page "/cases/{TestIdFilter}"

<RootContainer>
    <h3><TestReferenceButton TestId="@TestIdFilter" /> | <RunTestButton TestId="@TestIdFilter" /> | <DeleteTestButton TestId="@TestIdFilter" /></h3>
</RootContainer>

<RootContainer>
    <h3>Tests</h3>
</RootContainer>

<TestsTable TestId="@TestIdFilter" />

<RootContainer>
    <h3>Run history</h3>
</RootContainer>

<RunHistoryTable TestId="@TestIdFilter"/>

@code {
    public static string BuildPath(string testIdFilter)
    {
        return $"/cases/{testIdFilter}";
    }

    [Parameter]
    public string TestIdFilter { get; set; }
}
