@inject IPresentationService PresentationService;
@inject IMessageService MessageService;
@inject Browser Browser;
@page "/cases/{TestNameFilter}"

<div class="col-12 mt-3">
    <h3 class="ml-3">
        <TestReferenceButton TestName="@TestNameFilter" />
        <span> | </span>
        <RunTestButton Filters="@_filters" />
        <span> | </span>
        <CancelTestButton Filters="@_filters" />
        <span> | </span>
        <DeleteTestButton Filters="@_filters" />
    </h3>
</div>

<TestsTable Filters="@_filters" ShowParameters="true" />

<h3 class="ml-4 mt-5">Run history</h3>

<RunHistoryTable Filters="@_filters"/>

@code {
    public static string BuildPath(string testNameFilter)
    {
        return $"/cases/{testNameFilter}";
    }

    [Parameter]
    public string TestNameFilter { get; set; }

    IEnumerable<IFilterOrder> _filters => new[] { new ByTestNamesFilter(new[] { TestNameFilter }) };
}
