@inject IPresentationService PresentationService;
@inject IMessageService MessageService;
@inject Browser Browser;
@page "/cases/{TestNameFilter}"

<div class="col-12 mt-3">
    <h3 class="ml-3">
        <TestReferenceButton TestName="@TestNameFilter" />
        <span> | </span>
        <RunTestButton TestNameFilter="@TestNameFilter" />
        <span> | </span>
        <DeleteTestButton TestNameFilter="@TestNameFilter" />
    </h3>
</div>

<TestsTable TestNameFilter="@TestNameFilter" ShowParameters="true" />

<h3 class="ml-4 mt-5">Run history</h3>

<RunHistoryTable TestNameFilter="@TestNameFilter"/>

@code {
    public static string BuildPath(string testNameFilter)
    {
        return $"/cases/{testNameFilter}";
    }

    [Parameter]
    public string TestNameFilter { get; set; }
}
