@inject PresentationService.API2.PresentationService.PresentationServiceClient PresentationService;
@inject IMessageService MessageService;
@inject Browser Browser;
@page "/cases/{TestNameFilter}"

<div class="col-12 mt-3">
    <h3 class="ml-3">
        <TestReferenceButton TestName="@TestNameFilter" />
        <span> | </span>
        <RunTestButton TestNameFilter="@TestNameFilter" />
        <span> | </span>
        <DeleteTestButton TestNameFilter="@TestNameFilter" />
    </h3>

    <div class="ml-3 my-3">
        <ParametersView Parameters="@_parameters" />
    </div>

    <div class="ml-3 mt-2">
        <h4>Tests</h4>
    </div>
</div>

<TestsTable TestNameFilter="@TestNameFilter" OnTestsUpdatedAsync="onTestsLoadedAsync" />

<h4 class="ml-3 mt-3">Run history</h4>

<RunHistoryTable TestNameFilter="@TestNameFilter" />

@code {
    public static string BuildPath(string testNameFilter)
    {
        return $"/cases/{testNameFilter}";
    }

    [Parameter]
    public string TestNameFilter { get; set; }

    string? _parameters = null;
    int _testsCount;

    async Task onTestsLoadedAsync(IList<TestInfo> tests)
    {
        _parameters = null;
        if (tests.Count == 1)
        {
            _parameters = tests.Single().Target.Parameters;
        }
        _testsCount = tests.Count;
    }
}
