<div class="form-sm align-middle">
    <div class="container">
        <div class="row mb-2">
            <h2>@Title</h2>
        </div>

        <EditForm Model="@Model" OnValidSubmit="OnSubmit">
            @foreach (var kvp in Fields)
            {
                <div class="row mb-2">
                    <div class="@LABEL_COL_CLASS">
                        <label>@kvp.Name</label>
                    </div>

                    <div class="@INPUT_COL_CLASS">
                        @kvp.Input
                    </div>
                </div>
            }

            <div class="row">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>

            <div class="row mb-2">
                @ChildContent
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit" style="width:100%">@ButtonName</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public class Field
    {
        public string Name { get; }
        public RenderFragment Input { get; }

        public Field(string name, RenderFragment input)
        {
            Name = name;
            Input = input;
        }
    }

    const string LABEL_COL_CLASS = "col-md-7";
    const string INPUT_COL_CLASS = "col-md-5";

    [Parameter]
    public object Model { get; set; } = new object();

    [Parameter]
    public string Title { get; set; } = "A form";

    [Parameter]
    public string ButtonName { get; set; } = "Submit";

    [Parameter]
    public IEnumerable<Field> Fields { get; set; } = new Field[0];

    [Parameter]
    public Action OnSubmit { get; set; } = delegate { };

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
