@using global::SharedT.Types;

<Expander Name="Differences">
    <div class="mb-2">
        @if (Differences == null)
        {
            <LoadingIndicator />
        }
        else if (!Differences.Any())
        {
            <span>No differences found!</span>
        }
        else
        {
            foreach (var difference in Differences.OrderBy(d => d.Kind))
            {
                if (difference.Kind == DiferenceKind.P2Missing)
                {
                    <div><span style="font-family: monospace">---</span> @difference.P1.GetFullPath() = @getValueView(difference.P1.Value)</div>
                }
                else if (difference.Kind == DiferenceKind.P2Created)
                {
                    <div><span style="font-family: monospace">+++</span> @difference.P2.GetFullPath() = @getValueView(difference.P2.Value)</div>
                }
                else if (difference.Kind == DiferenceKind.ValueMismatch)
                {
                    <div><span style="font-family: monospace">~~~</span> @difference.P1.GetFullPath() = @getValueView(difference.P1.Value) => @getValueView(difference.P2.Value)</div>
                }
                else
                {
                    <div>??? UNKNOWN DIFFERENCE KIND</div>
                }
            }
        }
    </div>
</Expander>

@code {
    RenderFragment getValueView(string? value)
    {
        return @<span>@(value == null ? "null" : $"\"{value}\"")</span>;
    }

    [Parameter]
    public IEnumerable<Difference>? Differences { get; set; }
}
