@using global::SharedT.Types;
@inject IPresentationService PresentationService;
@inject IWebMessageHub Hub;
@inject Microsoft.Extensions.Logging.ILogger<RunHistoryTable> Logger;

<TableBase Columns="_columns" Rows="_rows" RowsPerItem="2" TotalCount="_totalCount" OnAddRequestedAsync="addMoreAsync" EmptyMessage="_emptyMessage" InitialCount="3" />

@code {
    readonly TableBase.Column[] _columns = new TableBase.Column[]
    {
        new TableBase.Column() { Name = "Outcome" },
        new TableBase.Column() { Name = "Information" },
        new TableBase.Column() { Name = "Test name" },
        new TableBase.Column() { Name = "Run date" },
        new TableBase.Column() { Name = "Started by" },
    };
    List<TableBase.Row> _rows = new List<TableBase.Row>();
    int _totalCount = 0;
    RenderFragment _emptyMessage = @<span>There are nothing to show yet :/ Run test to see the results</span>;

    [Parameter]
    public string TestNameFilter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Hub.TestCompletedAsync += async m =>
        {
            if (m.TestName.StartsWith(TestNameFilter))
            {
                await softRerenderAsync();
            }
        };
        Hub.TestCancelledAsync += async m =>
        {
            if (m.TestName.StartsWith(TestNameFilter))
            {
                await softRerenderAsync();
            }
        };
        Hub.TestDeletedAsync += m => softRerenderAsync();
        Hub.TestBegunAsync += m => softRerenderAsync();
        Hub.EntryChangedAsync += async m =>
        {
            if (m is TestResultChangedWebMessage trc)
            {
                await softRerenderAsync();
            }
        };

        rerenderDaemon();

        await base.OnInitializedAsync();
    }

    bool _rerenderingRequired = false;
    async void rerenderDaemon()
    {
        await ThreadingUtils.ContinueAtDedicatedThread();

        while (true)
        {
            await Task.Delay(3000);

            if (_rerenderingRequired)
            {
                _rerenderingRequired = false;
                await rerenderAsync();
            }
        }
    }
    async Task softRerenderAsync()
    {
        _rerenderingRequired = true;
    }

    //protected override async Task OnParametersSetAsync()
    //{
    //    await rerenderAsync();

    //    await base.OnParametersSetAsync();
    //}

    async Task rerenderAsync()
    {
        await addMoreAsync(0);
        //StateHasChanged();
    }

    async Task addMoreAsync(int count)
    {
        var newCnt = (_rows.Count / 2) + count;
        var response = await PresentationService.GetTestDetailsAsync(new GetTestDetailsRequest(TestNameFilter.ToSequence().ToArray(), newCnt));
        _totalCount = response.TotalCount;
        _rows.Clear();

        foreach (var result in response.RunResulsts)
        {
            _rows.Add(new TableBase.Row()
            {
                Cells = new RenderFragment[]
                {
                    @<span>@($"{result.Result} in {result.Duration.TotalSeconds.ToString("F1")}s")</span>,
                    @<span>@result.State.State</span>,
                    @<TestReferenceButton TestName="@result.TestName" />,
                    @<span>@result.StartTime.ToLocalTime().ToString("hh:mm dd.MM.yyy")</span>,
                    @<UserProfileButton UserName="@result.StartedByUser" />
                }
            });

            IEnumerable<global::SharedT.Types.Difference> differences = null;
            if (result.ActualParameters != null && result.ExpectedParameters != null)
            {
                var actual = NodeParameter.TryDeserialize(result.ActualParameters);
                var expected = NodeParameter.TryDeserialize(result.ExpectedParameters);
                differences = expected.CompareWith(actual);
            }

            _rows.Add(new TableBase.Row()
            {
                IsFullRowWide = true,
                Cells = new RenderFragment[]
                {
                    @<div>
                        <div><ParametersDifferenceView Differences="@differences" /></div>
                        <div><ParametersView Parameters="@NodeParameter.TryDeserialize(result.ActualParameters)" Name="Actual parameters" /></div>
                    </div>
                }
            });

            @*IEnumerable<global::SharedT.Types.Difference> differences = null;
            if (result.ActualParameters != null && result.ExpectedParameters != null)
            {
                var actual = NodeParameter.TryDeserialize(result.ActualParameters);
                var expected = NodeParameter.TryDeserialize(result.ExpectedParameters);
                differences = expected.CompareWith(actual);
            }

            Func<RenderFragment> dd = () => @<div>
                             <div><ParametersDifferenceView Differences="@differences" /></div>
                             <div><ParametersView Parameters="@NodeParameter.TryDeserialize(result.ActualParameters)" Name="Actual parameters" /></div>
                         </div>;
            _rows.Add(new TableBase.Row()
            {
                IsFullRowWide = true,
                Cells = new RenderFragment[]
                {
                    @<Expander Name="Log" ContentProvider="dd" />
                }
            });*@
        }

        StateHasChanged();
    }
}
