@inject IMessageService MessageService;
@inject ICookieStorage Cookies;
@inject Browser Browser;

@if (Columns == null || !_isInitialized)
{
    <RootContainer>
        <LoadingIndicator/>
    </RootContainer>
}
else if (Rows == null || Rows.Count() == 0)
{
    <RootContainer>
        @EmptyMessage
    </RootContainer>
}
else
{
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        @foreach (var column in Columns)
                        {
                            <th>@column.Name</th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @foreach (var row in Rows)
                    {
                        <CascadingValue Name="IsDisabled" Value="row.IsDisabled">
                            <tr>
                                @if (row.IsFullRowWide)
                                {
                                    <td colspan="@Columns.Count()">@row.Cells.FirstOrDefault()</td>
                                }
                                else
                                {
                                    for (int i = 0; i < row.Cells.Length; i++)
                                    {
                                        var span = i == row.Cells.Length - 1 && row.ExpandLastRow
                                            ? (Columns.Count() - row.Cells.Length).NegativeToZero().Exchange(0, 1)
                                            : 1;
                                        <td colspan="@span">@row.Cells[i]</td>
                                    }
                                }
                            </tr>
                        </CascadingValue>
                    }
                </tbody>
            </table>
        </div>

        <div class="row px-3">
            <div class="col ml-auto">Shown @getCurrentItemsCount() of @TotalCount entries</div>
            @if (TotalCount - getCurrentItemsCount() > 0)
            {
                for (int i = 0; i < AddButtonsCount; i++)
                {
                    var addCount = getCount(i);
                    <div class="col-1 text-center">
                        <InlineButton @onclick="() => onAddAsync(addCount)">Add @addCount</InlineButton>
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    public class Column
    {
        public string Name { get; set; }
    }

    public class Row
    {
        public bool IsDisabled { get; set; }
        public bool IsFullRowWide { get; set; }
        public bool ExpandLastRow { get; set; }
        public RenderFragment[] Cells { get; set; }
    }
    bool _isInitialized = false;

    [Parameter]
    public IEnumerable<Column> Columns { get; set; }

    [Parameter]
    public IList<Row> Rows { get; set; }

    [Parameter]
    public int TotalCount { get; set; }

    [Parameter]
    public int InitialCount { get; set; } = 10;

    [Parameter]
    public int AddButtonsCount { get; set; } = 3;

    [Parameter]
    public int RowsPerItem { get; set; } = 1;

    [Parameter]
    public RenderFragment EmptyMessage { get; set; } = @<span>There are nothing to show yet</span>;

    [Parameter]
    public Func<int, Task> OnAddRequestedAsync { get; set; } = _ => Task.CompletedTask;

    protected override async Task OnParametersSetAsync()
    {
        onAddAsync(0);

        await base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await onAddAsync(InitialCount);
        _isInitialized = true;

        await base.OnInitializedAsync();
    }

    async Task onAddAsync(int count)
    {
        if (count != 0)
        {
            await OnAddRequestedAsync(count);
        }

        StateHasChanged();
    }

    int getCount(int buttonIndex)
    {
        var x = Math.Log(TotalCount - getCurrentItemsCount());
        var xk = x / AddButtonsCount;

        return Math.Exp((buttonIndex + 1) * xk).Round();
    }

    int getCurrentItemsCount() => Rows.Count / RowsPerItem;
}
